#container {
    width: 126px;
    height: 41px;
    white-space: nowrap;
    overflow-x: auto;
}
#muteButton {
    text-align: center;
}
#mute {
    width: 75px;
}

.inside {
    display: inline-block;
}

button {
    width: 30px;
    margin: 10px;
    outline: none;
}

/* #VolumeUp {
    width: 30px;
    margin: 10px;
    outline: none;
}

#VolumeDown {
    width: 30px;
    margin: 10px;
    outline: none;
} */

