#heading {
    font-size: 16px;
}
#container {
    width: 126px;
    height: 41px;
    white-space: nowrap;
    overflow-x: auto;
}
#muteButton {
    text-align: center;
}
#mute {
    width: 75px;
}

.inside {
    text-align: center;
    display: inline-block;
}

button {
    width: 30px;
    margin: 10px;
    outline: none;
    border-width: 1px;
    border-radius: 5px;
    border-color:rgb(21, 90, 168);
    background-color: rgb(230, 230, 230);
}

button:hover {
    width: 30px;
    margin: 10px;
    outline: none;
    border-width: 1px;
    border-radius: 5px;
    border-color:rgb(21, 90, 168);
    background-color: lightgray;
}

body {
    background-color:aliceblue;
    color:black;
  }

